body{
    background: #216583;
    font-family: "Rubik";
    text-align: center;
}

#overlay{
    background-color: #d3f6f3;
    border-radius: 10%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 40px;
}

#logo{
    height: 100px;
    display: block;
    margin: auto;
}

hr{
    width: 30%;
}

section{
    padding: 10px;
}

#submit{
    background-color: #216583;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}